@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --textPurple: #8A4DFF;
    --buttonPurple: #8A4DFF;
    --buttonHoverPurple: #A66DFF;
    --antiFlashWhite: #f9f9f9;
    --backgroundPurple: #6D63BC;
    --vibrantPink: #FF5D8F;
    --sunnyYellow: #FFEB47;
    --skyBlue: #4DCAFF;
}



body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: var(--textPurple);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.back-button {
    padding: 10px;
    margin: 0px;
    button{
        background-color: #f0f0f0;
        width: 30px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        margin: 0px;
        padding: 5px;
        border-radius: 8px;
    }
    button:hover{
        background-color: #f0f0f0;
        transform: scale(1.00);
    }
}


.heading {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 36px;
    color: var(--textPurple);
    font-weight: 900;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    transition: background-color 0.3s ease;
}


.icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--skyBlue);
    background-color: var(--sunnyYellow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.icon-container:hover {
    background-color: var(--vibrantPink);
    transform: rotate(360deg);
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: 3px solid var(--skyBlue);
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--antiFlashWhite);
}

button:hover {
    background-color: var(--sunnyYellow);
    transform: scale(1.05);
}

button h2 {
    font-size: 18px;
    color: var(--textPurple);
    margin-left: 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}

button:hover h2 {
    color: var(--vibrantPink);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--antiFlashWhite);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
    border-top: 3px solid var(--skyBlue);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.tab-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid var(--textPurple);
    color: var(--textPurple);
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
    background-color: var(--buttonPurple);
    color: white;
    border-radius: 15px;
    border: 3px solid var(--buttonPurple);
}

.tab-button:hover {
    background-color: var(--buttonHoverPurple);
    color: white;
}

.tab-button#home-tab {
    border: 2px solid var(--skyBlue);
}

hr {
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 61px;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-color: var(--skyBlue);
}
