/* Calendar Title */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --textPurple: #968AEC;
    --buttonPurple: #968AEC;
    --buttonHoverPurple: #797DD6;
}

body {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

input {
    font-size: 18px;
    border: 2px solid var(--textPurple); /* Change border color */
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"]{
    transform: scale(1.5); /* Increase size */
    margin-right: 5px; /* Add spacing between checkboxes and text */
    accent-color: var(--textPurple);
}

input[type="text"] {
    padding-left: 8px; /* Add some spacing inside */
    padding: 5px;
    border-radius: 5px; /* Optional: Rounded corners */
}

input[type="time"] {
    height: 80%;
}


option {
    font-size: 18px;
}

select {
    font-size: 18px;
    border: 2px solid var(--textPurple); /* Change border color */
    padding: 5px;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--textPurple);
}

.heading {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.date {
    margin-top: -10px;
    display: flex;
    justify-content: space-between; /* Pushes content to both ends */
    align-items: center; /* Aligns items vertically */
    width: 100%; /* Ensures full width */
    font-size: smaller;
    margin-bottom: -10px;
}

/* Event Box */
.event {
    color: black;
    padding-left: 15px;
}

.container{
    line-height: 0.9;
}

.FormContainer {
    padding: 10px;
    padding-top:5px;
    line-height: 2;
}

.members {
    margin-left: 100px;
}


/* Button Sticking to Bottom */
.button {
    padding: 10px;
    position: fixed;
    bottom: 16px;
    left: -10px;
    right:0px;
    width: 100%;
    text-align: center;
    button {
        width:  90%;
        height: 40px;
    }
}

.FormButton {
    display: flex;
    justify-content: space-between;
    bottom: 16px;
}

.FormButton button{
    width: 150px;
    height: 40px;
}

.FormButton .exit{
    background-color: grey;
}

button{
    background-color: var(--buttonPurple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

label{
    font-weight: bold;
}

.members label{
    font-weight: normal;
}



